<% provide(:title, 'Contact Us') %>
    <h1>Contact Us</h1>
    <p>
      Contact the administrators of this website by emailing
      <a href="mailto:drew.blumberg@me.com">Drew Blumberg</a>.
    </p>